.nav__container {
  display: flex;
}

.sidebar {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #087c8f;
  height: 100vh;
  width: auto; 
}

.top_section {
  display: flex;
  align-items: center;

}

.bars {
  display: flex;
  font-size: 20px;
  cursor: pointer;
  /* transition: margin 0.5s ease; */

}
.mid__section {
  margin-top: 40px;
  display: block;

}
.link {
  display: flex;
  color: #fff;
  margin: 15px 10px;
  padding: 5px 10px;
  gap: 10px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  background: rgba(241, 245, 249, 0.17);
  color: rgba(43, 43, 43, 1);
}
.active {
  background-color: #f1f5f9;
  color: #2b2b2b;
}
.active-icon {
  color: red; /* Set your desired active icon color */
}

.icon{ font-size: 16px;}
.link_text {
  font-size: 14px;
}

/* bottom section */
.bottom__section {
  margin-top: auto;
}
.profile__text {
  font-size: 12px;
}
@media (max-width: 600px) {
  .nav__container {
    flex-direction: column-reverse;
  }
  .sidebar {
    background-color: #fff;
    margin: 0;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    height: 70px; 
    width: 100%; 
    position: fixed; 
    bottom: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  }
  .top_section,
  .bottom__section {
    display: none;
  }

  .mid__section {
    margin-top: 0;
    display: flex;
  }
  .link {
    background-color: transparent;
    border:  none;
    flex-direction: column;

    align-items: center;
    margin: 10px 10px;
    padding: 0;
    gap: 0;
    color : #71839B;
  }
  .link:hover {
    background-color: transparent;
    color: #00A5A3;
  }
  .active{
    background-color: transparent;
    color: #25245D;
  }
  .icon{
    font-size: 18px;
  }
  .link_text {
    word-wrap: break-word;
    font-size: 12px;
    font-weight: 500;
  }
  .main {
    padding-bottom: 0;
  }
}
