/* Container Layout */
.nav__container {
  display: flex;
  height: 100vh;
}



/* Sidebar Styling */
.sidebar {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #0d3c61; /* Use existing color */
  width: 20% !important; /* Set sidebar width */
  position: fixed;
  height: 100%;
  padding-top: 20px; /* Add some padding at the top */
  overflow-y: auto; /* Enable scrolling if content exceeds height */
  transition: width 0.3s ease; /* Add transition for collapse animation */
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
  z-index: 100; /* Ensure sidebar is above other content */;
  /* border: 1px solid red; */
}

/* Main Content Styling */
main {
  flex: 1;
  overflow-y: auto;
  width: 80% !important;
  margin-left: 20% !important;
  /* border: 10px solid yellow; */
}

/* Menu Items Styling */
.menu-item {
  position: relative;
}

.link {
  display: flex;
  color: #ffffff;
  align-items: center;
  margin: 5px 20px; /* Adjust margin */
  padding: 5px 20px; /* Increase padding */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
}

.link:hover {
  background-color: #08687c; /* Darker background on hover */
}

.active {
  background-color: #08687c; /* Active item color */
}

/* Icon Styling */
.icon {
  font-size: 20px;
  margin-right: 10px; /* Add some spacing between icon and text */
}

/* Link Text Styling */
.link_text {
  font-size: 14px; /* Decrease font size */
}

/* Submenu Styling */
.sub__menu {
  display: none;
  position: absolute;
  top: 100%; /* Position below parent item */
  left: 0;
  right: 0;
  background-color: #08687c; /* Submenu background color */
  border-radius: 8px;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
  z-index: 1;
}

.menu-item:hover .sub__menu,
.sub__menu.active {
  display: block;
}

.sub__link {
  display: flex;
  color: #ffffff;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

.sub__link:hover {
  background-color: #0d3c61; /* Darker background on hover */
}

/* Media Query for Responsive Design */
@media (max-width: 600px) {
  .nav__container {
    flex-direction: column-reverse;
  }

  .sidebar {
    background-color: #087c8f;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px 15px; /* Adjust padding */
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 999;
  }

  .menu-item,
  .sub__menu {
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .mid__section {
    margin-top: 0;
    display: flex;
  }

  main {
    margin-left: 0 !important;
  }

  .link {
    background-color: transparent;
    border: none;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px 0; /* Adjust padding */
    color: #71839b;
  }

  .link:hover {
    background-color: #08687c;
    color: #ffffff;
  }

  .active {
    background-color: #0d3c61;
    color: #ffffff;
  }

  .icon {
    font-size: 22px;
    margin-right: 0; /* Reset margin */
    margin-bottom: 5px; /* Add some spacing below icon */
  }

  .link_text {
    word-wrap: break-word;
    font-size: 12px; /* Decrease font size */
    font-weight: 500;
  }

  .sub__menu {
    top: auto;
    bottom: 100%;
    left: 0;
  }
}
