
.table__container {
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
  }

  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table__header {
    position: sticky;
    top: 0;
    background-color: rgba(0, 165, 163, 1);
    z-index: 1;
    width: 100%;
    padding-top: 20px;
  }
  
  .table__header th {
    font-size: 14px;
    padding: 8px;
    font-weight: 600;
    color: #fff;
    text-align: start;
  }
  
  .table__body {
    flex-grow: 1;
    overflow: auto;
    table-layout: fixed;
  }
  
  .table__body td {
    font-size: 14px;
    padding: 8px;
    border: 1px solid #EEEEF2;
  }
  .table__body td:hover{
    font-weight: 600;
  }
  .table__body tr:nth-child(even) {
    background-color: #f1f5f9; /* Set the background color for odd rows */
  }
  
  .table__body tr:hover {
    box-shadow: 0px 2px 8px 3px rgba(0, 0, 0, 0.2); /* Customize the box shadow effect on hover */
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }