.table-header-actions {
  display: flex;
  justify-content: space-between; /* Distribute elements across the header */
  align-items: center;
  margin-bottom: 20px;
  padding: 2% 0;
}

.table-header-actions.no-filter {
  justify-content: space-between; /* Ensure search stays on the left and export buttons on the right when filter is not present */
}

.search-container {
  position: relative;
  display: inline-block;
  margin-left: 0; /* Align search to the left */
}

.search-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 250px;
  outline: none;
  transition: border-color 0.3s ease;
}

.search-container input[type="text"]:focus {
  border-color: #1b2a4e; /* Dark blue focus border */
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  color: #1b2a4e; /* Matching dark blue for the icon */
}

.export-buttons {
  display: flex;
  gap: 10px; /* Adds spacing between export buttons */
  justify-content: flex-end; /* Align buttons to the right */
}

.export-buttons button {
  color: #1b2a4e; /* Matching dark blue */
  border-color: #1b2a4e;
}

button:hover {
  background-color: rgba(27, 42, 78, 0.1); /* Dark blue hover background */
  border-color: #1b2a4e; /* Button hover border color */
}

.filter-button {
  background-color: transparent;
  border: 1px solid #1b2a4e;
  color: #1b2a4e;
  padding: 8px 16px;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.filter-button:hover {
  background-color: rgba(27, 42, 78, 0.1); /* Same hover as export buttons */
}
