.parts__container{
    display: flex;
    gap: 20px;
    padding-top: 30px;
}
.partscontent__container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 165, 163, 0.1);
    border-radius: 3px;
}
.parts__detailcontent{
    width:25%;
}
.parts__tablecontent{
    width: 75%;
}

